@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Josefin Sans", sans-serif;
}

body {
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --bg-color: hsl(236, 33%, 92%);
  --checked-color: hsl(236, 33%, 92%);
  --Very-Dark-Desaturated-Blue: hsl(0, 0%, 98%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue-text: hsl(235, 19%, 35%);

  background-image: url("./images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: 1540px;

  color: var(--Very-Dark-Grayish-Blue);
  background-color: var(--bg-color);

  display: grid;
  /* width: 100vw; */

  place-items: center;
}

body.dark {
  --bg-color: hsl(235, 21%, 11%);
  --checked-color: hsl(233, 14%, 26%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue-text: hsl(233, 11%, 84%);
  --Very-Dark-Grayish-Blue-1: hsl(237, 14%, 26%);

  background-image: url("./images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: 1540px;

  background-color: var(--bg-color);
}



header nav {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 100px 10px 0px;
}

header nav h1 {
  color: var(--Very-Light-Gray);
  font-size: 42px;
  letter-spacing: 0.5cm;
}

header nav img {
  width: 34px;
  cursor: pointer;
}

/* dark mode  */
#change-theme {
  display: none;
}

#light {
  display: none;
}

.dark #light {
  display: block;
}
.dark #dark {
  display: none;
}

/* input search  */
.inputSearch {
  width: 500px;
  margin-top: 30px;
  position: relative;
}

.inputSearch::before {
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid var(--checked-color);
  position: absolute;
  left: 15px;
  top: 11px;
  z-index: 10;
}

.inputSearch .search {
  width: 100%;
  padding: 15px 20px 15px 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;

  font-size: 16px;
  color: var(--Very-Dark-Grayish-Blue-text);
  background-color: var(--Very-Dark-Desaturated-Blue);
}

.inputSearch .search::placeholder {
  color: var(--Dark-Grayish-Blue);
}

.inputSearch .search:focus {
  outline: none;
}

/* list   */

.list-container li {
  list-style: none;

  width: 500px;
  display: flex;
  column-gap: 0.8rem;

  align-items: center;

  padding: 13px 20px 13px 15px;
  /* color: var(--Very-Dark-Grayish-Blue); */
  font-weight: 600;
  color: var(--Very-Dark-Grayish-Blue-text);
  background-color: var(--Very-Dark-Desaturated-Blue);
  border-bottom: 1px solid var(--checked-color);
  position: relative;
  cursor: pointer;
}

.list-container li:hover button {
  display: block;
}

.list-container li button {
  display: none;
  position: absolute;
  right: 20px;

  border: none;
  background: transparent;

  font-size: 20px;
  color: var(--checked-color);
  cursor: pointer;
}

.list-container li:nth-child(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* para aparecer o riscado na tarefa concluida */
.inputCheck:checked ~ span.completed {
  color: var(--Light-Grayish-Blue);
  text-decoration: line-through;
}

/* para aparecer o imagem de checado */
.inputCheck:checked::before {
  content: "✔";
  position: absolute;
  font-size: 10px;
  left: 3.5px;
  top: 1.5px;
}

.inputCheck:checked {
  /* content: "✔"; */
  color: white;
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-size: cover;

  position: relative;
}

.inputCheck {
  appearance: none;

  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--checked-color);
}

/* menu filter  */
.menu-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--Very-Dark-Desaturated-Blue);

  font-size: 14px;
  font-weight: 600;
  color: var(--Dark-Grayish-Blue);
}

.menu-filter button.filter-btn,
.delete-items {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 5px;
  font-weight: 800;
  color: var(--Dark-Grayish-Blue);
}
.menu-filter button.filter-btn.active {
  color: rgb(77, 91, 215);
}

@media (max-width: 575px) {
  .menu-filter {
    position: relative;
    padding: 12px 0;
  }

  .menu-filter .length-items,
  .delete-items {
    padding: 0 15px;
  }

  .filters {
    position: absolute;

    display: flex;
    width: 500px;
    justify-content: center;
    border-radius: 5px;
    padding: 12px ;
    top: 50px;

    background-color: var(--Very-Dark-Desaturated-Blue);

    color: var(--Dark-Grayish-Blue);
  }
}
